# Example environment
# ===================
#
# Values commented out in this file show defaults that are set in
# docker-compose.yml if not contained in .env
#
# To expose for local development, use docker-compose.override.yml

#==============================================================================
# POSTGRES
#==============================================================================

# Database settings
POSTGRES_PASSWORD=your_postgres_password

#==============================================================================
# DRAGONFLY (REDIS)
#==============================================================================

# Image and basic config
DRAGONFLY_PASSWORD=your_redis_password

# Performance settings
#DRAGONFLY_CACHE_MODE=true
#DRAGONFLY_DBNAME=dump
#DRAGONFLY_DBNUM=6
#DRAGONFLY_HZ=100
#DRAGONFLY_KEYS_OUTPUT_LIMIT=8192
#DRAGONFLY_SNAPSHOT_CRON=* * * * *

#==============================================================================
# MINIO (S3-COMPATIBLE STORAGE)
#==============================================================================

# Image and basic config

# Authentication
MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=minio_password

#BUCKET_NAME=quality-link-storage

#==============================================================================
# APACHE JENA FUSEKI CONFIGURATION
#==============================================================================

# Access & permissions
FUSEKI_ADMIN_PASSWORD=fuseki_password

# Dataset settings
#FUSEKI_DATASET_NAME=qualitylink
#FUSEKI_TDB=2
#FUSEKI_ENABLE_DATA_WRITE=true
#FUSEKI_ENABLE_UPDATE=true

# JVM settings
#FUSEKI_JVM_ARGS="-Xmx2g -XX:+UseContainerSupport"


#==============================================================================
# MAGEAI
#==============================================================================

# Authentication
DEFAULT_OWNER_EMAIL=your_email@example.com
DEFAULT_OWNER_USERNAME=your_username
DEFAULT_OWNER_PASSWORD=your_password


#==============================================================================
# BACKEND
#==============================================================================

# Database name (should match POSTGRES_DB or a specific DB your backend uses)
DB_NAME=backend


#==============================================================================
# MEILISEARCH
#==============================================================================

MEILISEARCH_URL=http://meili.example.org
#MEILISEARCH_INDEX=ql_courses
MEILISEARCH_API_KEY=your_meili_key

#==============================================================================
# FRONTEND CONFIGURATION
#==============================================================================

# Environment variables for the app
VITE_API_URL=$SERVICE_URL_BACKEND
VITE_RECAPTCHA_SITE_KEY=API_KEY
